= simple_form_for([:admin, @activation]) do |f|
  = f.error_notification
  .row
    .col.s8.offset-s2.card-panel
      %fieldset.center
        %legend= @activation.new_record? ? 'Nova Ativação' : 'Editar Ativação'
        .input-field-2
          = f.association :ticket, :collection => Ticket.all.collect {|t| ["#{t.name} (#{number_to_currency(t.price, unit: 'R$ ', separator: ',', delimiter: '')})" , t.id]}
        .input-field-2
          = f.association :customer, :collection => Customer.all.collect {|c| [c.email, c.id]}
        .input-field-2
          = f.association :plate, :collection => Plate.all.collect {|p| [p.code, p.id]}

        = f.button :submit, input_html: {class: "btn waves-effect waves-light"}

        = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")