.row
  .card-panel.col.s12
    %h1.card-title="Lista de compras"
    %table.highlight
      %thead
        %tr
          %th= "Ticket"
          %th= "Placa"
          %th= "Customer"
          %th= "Remaining"
      %tbody
        - @activations.each do |activation|
          %tr
            %td= "#{activation.ticket.name} (#{number_to_currency(activation.ticket.price, unit: 'R$ ', separator: ',', delimiter: '')})"
            %td= activation.plate_id ? activation.plate.code : ''
            %td= activation.customer.email
            %td= activation.remaining()
            %td
              = link_to content_tag(:i, "visibility", :class => "material-icons"), admin_activation_path(activation), class: "btn white-text waves-effect waves-dark", title: t("general.show")
              = link_to content_tag(:i, "create", :class => "material-icons"), edit_admin_activation_path(activation), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
              = link_to content_tag(:i, "delete", :class => "material-icons"), [:admin, activation], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")

    .col.s12
      %br
      = link_to content_tag(:i, "add", :class => "material-icons"), new_admin_activation_path, class: "btn white-text waves-effect waves-dark", title: t("general.new")
      = will_paginate @activations

