%p#notice= notice

.row
  .col.s12.m10.offset-m1.l8.offset-l2.card-panel
    %fieldset.center
      %legend= "Ativação"
      .left-align
        %p= "ID: #{@activation.id}"
        %p= "Placa: #{@activation.plate.code}"
        %p= "Ticket: #{@activation.ticket.name}"
        %p= "Cliente: #{@activation.customer.name} (#{@activation.customer.email})"
        %p= "Restante: #{@activation.remaining}"
        .actions
          = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")
          = link_to t("general.edit"), edit_admin_customer_path(@activation), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
          = link_to t("general.destroy"), [:admin, @activation], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")
