.row
  .card-panel.col.s12
    %h1.card-title="Lista de compras"
    %table.highlight
      %thead
        %tr
          %th= "ID"
          %th= "Valor"
          %th= "Cliente"
          %th= t("general.actions")

      %tbody
        - @purchases.each do |purchase|
          %tr
            %td= purchase.id
            %td= purchase.value
            %td= purchase.customer.email
            %td
              = link_to content_tag(:i, "visibility", :class => "material-icons"), admin_purchase_path(purchase), class: "btn white-text waves-effect waves-dark", title: t("general.show")
              = link_to content_tag(:i, "create", :class => "material-icons"), edit_admin_purchase_path(purchase), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
              = link_to content_tag(:i, "delete", :class => "material-icons"), [:admin, purchase], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")

    .col.s12
      %br
      = link_to content_tag(:i, "add", :class => "material-icons"), new_admin_purchase_path, class: "btn white-text waves-effect waves-dark", title: t("general.new")
      = will_paginate @purchases
