%p#notice= notice

%p
  %b Value:
  = @admin_purchase.value
%p
  %b Customer:
  = @admin_purchase.customer

= link_to 'Edit', edit_admin_purchase_path(@admin_purchase)
\|
= link_to 'Back', admin_purchases_path
