= simple_form_for([:admin, @penalty]) do |f|
  = f.error_notification
  .row
    .col.s8.offset-s2.card-panel
      %fieldset.center
        %legend= @penalty.new_record? ? 'Nova Multa' : 'Editar Multa'
        .input-field-2
          = f.input :description
        .input-field-2
          = f.input :value
        %div
          = f.input :limit
        .input-field-2
          = f.association :plate, :collection => Plate.all.collect {|p| [p.code, p.id]}
        .input-field-2
          = f.association :agent, :collection => Agent.all.collect {|a| [a.email, a.id]}

        = f.button :submit, input_html: {class: "btn waves-effect waves-light"}

        = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")
