.row
  .card-panel.col.s12
    %h1.card-title="Lista de Multas"
    %table.highlight
      %thead
        %tr
          %th= "ID"
          %th= "Valor"
          %th= "Placa"
          %th= "Agente"
          %th= "Limite"
          %th= "Pago?"
          %th= t("general.actions")
      %tbody
        - @penalties.each do |penalty|
          %tr
            %td= penalty.id
            %td= penalty.value
            %td= penalty.plate.code
            %td= penalty.agent.email
            %td= penalty.limit ? penalty.limit.strftime("%d/%m/%Y %H:%M:%S") : ""
            %td
              %i.material-icons= penalty.penalty_payment ? "done" : "close"
            %td
              - if(penalty.penalty_payment)
                = link_to content_tag(:i, "money_off", :class => "material-icons"), [:admin, penalty.penalty_payment], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")
              - else
                = link_to content_tag(:i, "attach_money", :class => "material-icons"), admin_penalty_pay_path(penalty), class: "btn white-text waves-effect waves-dark", title: t("general.show")
              = link_to content_tag(:i, "visibility", :class => "material-icons"), admin_penalty_path(penalty), class: "btn white-text waves-effect waves-dark", title: t("general.show")
              = link_to content_tag(:i, "create", :class => "material-icons"), edit_admin_penalty_path(penalty), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
              = link_to content_tag(:i, "delete", :class => "material-icons"), [:admin, penalty], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")
              
    .col.s12
      %br
      = link_to content_tag(:i, "add", :class => "material-icons"), new_admin_penalty_path, class: "btn white-text waves-effect waves-dark", title: t("general.new")
      / = will_paginate @penalties
