= simple_form_for([:admin, @penalty_payment]) do |f|
  = f.error_notification
  .row
    .col.s8.offset-s2.card-panel
      %fieldset.center
        %legend= @penalty_payment.new_record? ? 'Novo Pagamento de Multa' : 'Editar Pagamento de Multa'
        .input-field-2
          = f.input :value, input_html: {value: @penalty.value}
        .input-field-2
          = f.input :penalty_id, input_html: {value: @penalty.id}
        .input-field-2
          = f.association :customer, :collection => Customer.all.collect {|c| [c.email, c.id]}   

        = f.button :submit, input_html: {class: "btn waves-effect waves-light"}

        = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")
