%p#notice= notice

.row
  .col.s12.m10.offset-m1.l8.offset-l2.card-panel
    %fieldset.center
      %legend= "Multa"
      .left-align
        %p= "ID: #{@penalty.id}"
        %p= "Descrição: #{@penalty.description}"
        %p= "Valor: #{@penalty.value}"
        %p= "Placa: #{@penalty.plate.code}"
        %p= "Limite: #{@penalty.limit ? @penalty.limit.strftime('%d/%m/%Y %H:%M:%S') : ''}"
        %p= "Pago?: #{@penalty.penalty_payment ? 'sim' : 'não'}"
        .actions
          = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")
          = link_to t("general.edit"), edit_admin_penalty_path(@penalty), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
          = link_to t("general.destroy"), [:admin, @penalty], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")
