.row
  .card-panel.col.s12
    %h1.card-title="Lista de Agentes de Trânsito"
    %table.highlight
      %thead
        %tr
          %th= "ID"
          %th= "Nome"
          %th= "E-mail"
          %th= t("general.actions")
      %tbody
        - @agents.each do |agent|
          %tr
            %td= agent.id
            %td= agent.name
            %td= agent.email
            %td
              = link_to content_tag(:i, "visibility", :class => "material-icons"), admin_agent_path(agent), class: "btn white-text waves-effect waves-dark", title: t("general.show")
              = link_to content_tag(:i, "create", :class => "material-icons"), edit_admin_agent_path(agent), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
              = link_to content_tag(:i, "delete", :class => "material-icons"), [:admin, agent], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")
              
    .col.s12
      %br
      = link_to content_tag(:i, "add", :class => "material-icons"), new_admin_agent_path, class: "btn white-text waves-effect waves-dark", title: t("general.new")
      / = will_paginate @agents
