%p#notice= notice

.row
  .col.s12.m10.offset-m1.l8.offset-l2.card-panel
    %fieldset.center
      %legend= "Agente"
      .left-align
        %p= "ID: #{@agent.id}"
        %p= "Nome: #{@agent.name}"
        %p= "E-mail: #{@agent.email}"
        .actions
          = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")
          = link_to t("general.edit"), edit_admin_agent_path(@agent), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
          = link_to t("general.destroy"), [:admin, @agent], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")
