<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="row">
    <div class="col s10 offset-s1 card-panel">
      <fieldset>
        <legend>Alterar dados</legend>
        <br>
        <%= f.error_notification %>
        <br>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, autocomplete: "off", hint: "deixe em branco caso não queira mudar", required: false %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :current_password, hint: "é preciso informar sua senha atual para confirmar suas alterações", required: true %>
        </div>
        <br>
        <div class="form-actions">
          <%= f.button :submit, "Atualizar" %>
        </div>
      </fieldset>
    </div>
  </div>

  
<% end %>
