= simple_form_for([:admin, @plate]) do |f|
  = f.error_notification
  .row
    .col.s8.offset-s2.card-panel
      %fieldset.center
        %legend= @plate.new_record? ? 'Nova Placa' : 'Editar Placa'
        .input-field-2
          = f.input :code

    

        = f.button :submit, input_html: {class: "btn waves-effect waves-light"}

        = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")
