.row
  .card-panel.col.s12
    %h1.card-title="Lista de placas"
    %table.highlight
      %thead
        %tr
          %th= "ID"
          %th= "Código"
          %th= "Nº de clientes"
          %th= t("general.actions")

      %tbody
        - @plates.each do |plate|
          %tr
            %td= plate.id
            %td= plate.code
            %td= plate.customers ? plate.customers.count : 0
            %td
              = link_to content_tag(:i, "visibility", :class => "material-icons"), admin_plate_path(plate), class: "btn white-text waves-effect waves-dark", title: t("general.show")
              = link_to content_tag(:i, "create", :class => "material-icons"), edit_admin_plate_path(plate), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
              = link_to content_tag(:i, "delete", :class => "material-icons"), [:admin, plate], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")


= link_to 'New Plate', new_admin_plate_path
