%p#notice= notice

.row
	.col.s12.m10.offset-m1.l8.offset-l2.card-panel
		%fieldset.center
			%legend= "Informações da Placa"
			.left-align
				%p= "Código: #{@plate.code}"
				%p= "Clientes vinculados:"
				%ul
					- @plate.customers.each do |customer|
						%li= customer.email

			= link_to 'Edit', edit_admin_plate_path(@plate)
			\|
			= link_to 'Back', admin_plates_path
