= simple_form_for([:admin, @customer]) do |f|
  = f.error_notification
  .row
    .col.s8.offset-s2.card-panel
      %fieldset.center
        %legend= @customer.new_record? ? 'Novo Cliente' : 'Editar Cliente'
        .input-field-2
          = f.input :name
        .input-field-2
          = f.input :phone
        .input-field-2
          = f.input :cpf
        .input-field-2
          = f.input :email
        .input-field-2
          = f.input :password
        .input-field-2
          = f.input :cash

    

        = f.button :submit, input_html: {class: "btn waves-effect waves-light"}

        = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")