.row
  .card-panel.col.s12
    %h1.card-title="Lista de Clientes"
    %table.highlight
      %thead
        %tr
          %th= "ID"
          %th= "Nome"
          %th= "E-mail"
          %th= "Saldo"
          %th= "Nº de Placas"
          %th= t("general.actions")
      %tbody
        - @customers.each do |customer|
          %tr
            %td= customer.id
            %td= customer.name
            %td= customer.email
            %td= number_to_currency(customer.cash, unit: "R$ ", separator: ",", delimiter: "")
            %td= customer.plates ? customer.plates.count : 0
            %td
              = link_to content_tag(:i, "visibility", :class => "material-icons"), admin_customer_path(customer), class: "btn white-text waves-effect waves-dark", title: t("general.show")
              = link_to content_tag(:i, "create", :class => "material-icons"), edit_admin_customer_path(customer), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
              = link_to content_tag(:i, "delete", :class => "material-icons"), [:admin, customer], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")
              
    .col.s12
      %br
      = link_to content_tag(:i, "add", :class => "material-icons"), new_admin_customer_path, class: "btn white-text waves-effect waves-dark", title: t("general.new")
      / = will_paginate @customers
