%p#notice= notice

.row
  .col.s12.m10.offset-m1.l8.offset-l2.card-panel
    %fieldset.center
      %legend= "Cliente"
      .left-align
        %p= "ID: #{@customer.id}"
        %p= "Nome: #{@customer.name}"
        %p= "Telefone: #{@customer.phone}"
        %p= "E-mail: #{@customer.email}"
        - if (@customer.plates.count > 0)
          %p= "Placas vinculadas:"
          %ul
            - @customer.plates.each do |plate|
              %li= plate.code
        .actions
          = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")
          = link_to t("general.edit"), edit_admin_customer_path(@customer), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
          = link_to t("general.destroy"), [:admin, @customer], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")
