= simple_form_for([:admin, @ticket]) do |f|
  = f.error_notification
  .row
    .col.s8.offset-s2.card-panel
      %fieldset.center
        %legend= @ticket.new_record? ? 'Novo Ticket' : 'Editar Ticket'
        .input-field-2
          = f.input :name
        .input-field-2
          = f.input :description, input_html: {class: "materialize-textarea"}
        .input-field-2
          = f.input :price
        .input-field-2
          = f.input :duration

    

        = f.button :submit, input_html: {class: "btn waves-effect waves-light"}

        = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")