.row
  .card-panel.col.s12
    %h1.card-title="Lista de tickets"
    %table.highlight
      %thead
        %tr
          %th= "ID"
          %th= "Name"
          %th= "Valor"
          %th= "Duração"
          %th= t("general.actions")

      %tbody
        - @tickets.each do |ticket|
          %tr
            %td= ticket.id
            %td= ticket.name
            %td= number_to_currency(ticket.price, unit: "R$ ", separator: ",", delimiter: "")
            %td= ticket.duration
            %td
              = link_to content_tag(:i, "visibility", :class => "material-icons"), admin_ticket_path(ticket), class: "btn white-text waves-effect waves-dark", title: t("general.show")
              = link_to content_tag(:i, "create", :class => "material-icons"), edit_admin_ticket_path(ticket), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
              = link_to content_tag(:i, "delete", :class => "material-icons"), [:admin, ticket], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")

    .col.s12
      %br
      = link_to content_tag(:i, "add", :class => "material-icons"), new_admin_ticket_path, class: "btn white-text waves-effect waves-dark", title: t("general.new")
      = will_paginate @tickets
