%p#notice= notice


= link_to 'Edit', edit_admin_ticket_path(@ticket)
\|
= link_to 'Back', admin_tickets_path

%p#notice= notice

.row
  .col.s12.m10.offset-m1.l8.offset-l2.card-panel
    %fieldset.center
      %legend= "Ticket"
      .left-align
        %p= "ID: #{@ticket.id}"
        %p= "Nome: #{@ticket.name}"
        %p= "Valor: #{@ticket.price}"
        %p= "Duração: #{@ticket.duration}"
        .actions
          = link_to t("general.back"), :back, class: "btn white-text waves-effect waves-dark", title: t("general.back")
          = link_to t("general.edit"), edit_admin_ticket_path(@ticket), class: "btn white-text waves-effect waves-dark", title: t("general.edit")
          = link_to t("general.destroy"), [:admin, @ticket], :method => :delete, :data => { :confirm => t("general.are_you_sure") }, class: "btn red white-text waves-effect waves-dark", title: t("general.destroy")
