%nav
  .nav-wrapper
    %a.button-collapse{"data-activates" => "slide-out", :href => "#"}
      %i.mdi-navigation-menu
    %ul.right
      %li
        / = current_user.name
      %li
        %a.dropdown-button.white-text{"data-activates" => "dropdown1", "data-beloworigin" => "true", "data-alignment" => "right", "data-constrainWidth" => "false", :href => "#"}
          %i.material-icons more_vert
    %ul#dropdown1.dropdown-content
      %li
        = link_to t("devise.edit_profile"), edit_admin_user_registration_path, class: "teal-text darken-3"
      %li
        = link_to t("devise.sign_out"), destroy_admin_user_session_path, :method => :delete, class: "teal-text darken-3"
%ul#slide-out.side-nav.fixed.blue-grey.lighten-5
  %li.logo
    %a#logo-container.brand-logo.center-align{:href => admin_root_url}
      = image_tag("logo")
  %li.waves-effect.waves-light{:class => "#{'active' if params[:controller] == 'admin/home'}"}
    %a{:href => admin_root_url} 
      %i.material-icons home
      %span Home
  %li.waves-effect.waves-light{:class => "#{'active' if params[:controller] == 'admin/tickets'}"}
    %a{:href => url_for(admin_tickets_path)} 
      %i.material-icons label
      = Ticket.model_name.human.pluralize
  %li.waves-effect.waves-light{:class => "#{'active' if params[:controller] == 'admin/customers'}"}
    %a{:href => url_for(admin_customers_path)} 
      %i.material-icons person
      = Customer.model_name.human.pluralize
  %li.waves-effect.waves-light{:class => "#{'active' if params[:controller] == 'admin/activations'}"}
    %a{:href => url_for(admin_activations_path)} 
      %i.material-icons touch_app
      = "Ativações"
  %li.waves-effect.waves-light{:class => "#{'active' if params[:controller] == 'admin/plates'}"}
    %a{:href => url_for(admin_plates_path)} 
      %i.material-icons label
      = Plate.model_name.human.pluralize
  %li.waves-effect.waves-light{:class => "#{'active' if params[:controller] == 'admin/penalties'}"}
    %a{:href => url_for(admin_penalties_path)} 
      %i.material-icons pan_tool
      = "Multas"
  %li.waves-effect.waves-light{:class => "#{'active' if params[:controller] == 'admin/purchases'}"}
    %a{:href => url_for(admin_purchases_path)} 
      %i.material-icons attach_money
      = Purchase.model_name.human.pluralize
  %li.waves-effect.waves-light{:class => "#{'active' if params[:controller] == 'admin/agents'}"}
    %a{:href => url_for(admin_agents_path)} 
      %i.material-icons person_outline
      = "Agentes"
  / %li.waves-effect.waves-light
  /   %a{:href => url_for(activations_path)} 
  /     %i.material-icons touch_app
  /     = Activation.model_name.human.pluralize