.row.home
	.col.s12
		%h1= "Tickets ativos"
	.clearfix
	- @activations.each do |activation|
		.col.s6.m4.l3
			.card
				.card-content
					%span.card-title= activation.plate.code
					= link_to content_tag(:i, "visibility", :class => "material-icons"), admin_activation_path(activation), class: "", style: "float:right; margin-top: 10px;", title: t("general.show")
					%br
					%i.material-icons.tiny= "account_circle"
					%span= activation.customer.email
					%br
					%i.material-icons.tiny= "label"
					%span= activation.ticket.name
					%div{:class => "progress lighten-4 #{clock_color(activation.remaining_minutes)}"}
						%div{:class => "determinate #{clock_color(activation.remaining_minutes)}",:style => "width: #{activation.percentage}%"}