/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "materialize/components/color";

// Cores primária e secundária
$primary-color: #325076 !default;
$secondary-color: #90C400 !default;

// Tabs
$tabs-text-color: $primary-color !default;
$tabs-bg-color: color("grey", "lighten-5") !default;

// Cartões
$card-bg-color: color("grey", "lighten-5") !default;

// Links
$link-color: $primary-color !default;

// Inputs
$input-focus-color: $primary-color !default;

@import 'materialize';
@import "materialize/extras/nouislider";


nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	height: 64px;
	line-height: 64px;
}
.field_with_errors{
	margin-bottom: 20px;
	display: block;
	label{
		color: #fff;
	}
	input{
		color: #fff;
	}
	span.error{
		color: #fff;
		display: block;
	}
	span.hint{
		color: #fff;
	}
}
.pagination{
	a{
		display: inline-block;
	    border-radius: 2px;
	    text-align: center;
	    vertical-align: top;
	    height: 30px;
	    font-size: 1.2rem;
	    padding: 0 10px;
	    line-height: 30px;
	}
	a.active{
		color: #fff;
	}
}

 // Fim correções Materialize

body{
	min-width: 320px;
	max-width: 1920px;
	font-size: 14px;
}

// .notice{
// 	background-color: #4caf50;
//     color: rgba(255,255,255, 0.84);
//     padding: 20px;
// }

// .alert{
// 	background-color: #f44336;
//     color: rgba(255,255,255, 0.84);
//     padding: 20px;
// }


header{
	.side-nav{
		webkit-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		// width: 85px;
		li.logo{
			height: 90px;
			background-color: #ddd;
			padding: 0 5px;
			.brand-logo{
				padding: 0;
				img{
					webkit-transition: all .25s ease-in-out;
				    transition: all .25s ease-in-out;
				    height: 70px;
				    margin-top: 10px;
					// clip: rect(0px,22px,70px,0px);
				}
			}
		}
		li.logo:hover{
			// background-color: #ddd;
		}
		li.waves-effect{
			width: 100%;
		}
		li{
			a{
				webkit-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
				i{
					display: block;
					float: left;
					margin-top: 18px;
					width: 35px;
				}
			}
		}
		li.active{
			background-color: #325076;
			a{
				color: #fff;
			}
		}
	}
	// .side-nav:hover{
	// 	width: 240px;
	// 	.logo{
	// 		.brand-logo{
	// 			img{
	// 				clip: rect(0px,180px,70px,0px);
	// 			}
	// 		}
	// 	}
	// }
}

.notice, .alert{
	margin-left: 280px;
	margin-right: 30px;
	padding: 20px;
    font-size: 14px;
}

.notice{
	background-color: #4caf50;
    color: rgba(255,255,255, 0.84);
}

.alert{
	background-color: #f44336;
    color: rgba(255,255,255, 0.84);
}

#breadcrumbs{
	padding-left: 85px;
	.container{
		width: 90%;
		.card{
			padding: 5px 10px;
			width: auto;
  			display: inline-block;
			a{
				text-decoration: underline
			}
		}
	}
}

main{
    min-height: calc(100vh - 202px);
    padding-left: 240px;
    .container{
    	width: 90%;
    }
    h1.card-title{
    	font-size: 2.2rem;
    	margin: 0.82rem 0 0.656rem 0
    }
    .home{
    	h1{
    		margin-top: 0;
    		font-size: 2.5rem;
    	}
    	a{
    		color: #000
    	}
    	a:hover{
    		background-color: transparent;
    	}
    	span{
    		font-size: 12px;
    	}
    	i.material-icons{
    		vertical-align: middle;
    	}
    }
    .card-panel{
    	padding: 20px !important;
    	ul{
    		padding-left: 40px;
    		li{
    			list-style-type: disc;
    		}
    	}
    	table{
    		thead{
    			th{
    				font-size: 14px;
    			}
    		}
    		tbody{
    			border-bottom: 1px solid #ddd;
    		}
	    	tr{
	    		td{
	    			font-size: 14px;
	    			.btn{
				    	// padding: 0 1rem;
				    	margin-left: 2px;
				    	margin-right: 2px;
				    }
	    		}
	    	}
	    }
    }

    fieldset{
    	legend{
    		font-weight: bold;
    	}
    	.input-field-2{
    		text-align: left !important;
    	}
    	.select-wrapper.datetime{
    		display: inline-block;
    		width: auto;
    	}
    	ul{
    		li{
    			list-style-type: none !important;
    		}
    	}
    }
    
    // ul.tabs{
    // 	.tab{
    // 		a{
    // 			color: #757575 !important;
    // 		}
    // 		a:hover, a.active{
				// color: #424242 !important;
    // 		}
    // 	}
    // }
}

footer{
	.row{
		margin-bottom: 0;
		height: 81px;
	}
	span{
		display: inline-block;
  		margin-top: 35px;
	}
}

@media (max-width: 600px){
	header{
		.side-nav{
			width: 240px;
			.logo{
				.brand-logo{
					img{
						clip: rect(0px,180px,70px,0px) !important;
					}
				}
			}
		}
		.side-nav:hover{
			width: 240px;
		}
	}
}

// Celular e Tablet
@media only screen and (max-width: 992px){
    main{
        padding-left: 0;
    }
}

tr[data-href]{ cursor: pointer; }


// Layout unlogged
body.unlogged{
	.notice, .alert{
		margin-left: 0;
		margin-right: 0;
	}
	header{
		height: 200px;
		background-color: #325076;
		padding: 20px 0;
		img{
			max-height: 160px;
		}
	}
	main{
	    min-height: calc(100vh - 327px);
	    padding-left: 0;
	}
	footer{
		height: 100px;
		padding-top: 20px;
	}
}

