!!!
%html
  %head
    %title= page_title(yield(:title))

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.grey.lighten-2{"data-no-turbolink" => true}
    %header
      = render "layouts/application/header"
    - if(notice)
      %p.notice= notice
    - if(alert)
      %p.alert= alert
    #breadcrumbs
      .container
      %br
      %br 
    %main
      .container
        = yield
    %footer
      = render "layouts/application/footer"
