!!!
%html
  %head
    %title WayPark

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %title= yield(:title)

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.unlogged
    %header.center-align
      = image_tag("logo-3")
    .container
      - if(notice)
        %p.notice= notice
      - if(alert)
        %p.alert= alert
      %main
        = yield
    %footer.grey.darken-3.white-text.center-align
      &copy; WayPark
